<p id="notice"><%= notice %></p>
<% @user.upcoming_events.each do |event| %>
<h4>Upcoming events</h4>
  <ul>
    <li>
      <p><%= event.description %></p>
      <small><%= event.date %></small>
    </li>
  </ul>
<% end %>

<% @user.previous_events.each do |event| %>
<h4>Previous events</h4>
  <ul>
    <li>
      <p><%= event.description %></p>
      <small><%= event.date %></small>
    </li>
  </ul>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
