<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :date %>
  <%= form.date_field :date %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
